$colors: (
  primary: ( // blue-grey
    100: hsl(210, 23%, 50%),
    200: hsl(210, 23%, 40%),
    300: hsl(209, 18%, 30%),
    400: hsl(209, 18%, 20%),
    500: hsl(209, 18%, 10%),
  ),

  secondary: ( // blue
    100: hsl(10, 100%, 73%),
    200: hsl(10, 100%, 63%),
    300: hsl(355, 100%, 63%),
    400: hsl(355, 100%, 53%),
    500: hsl(355, 100%, 43%),
  ),

  neutral: ( //black&white
    100: hsl(0 0% 100%),
    200: hsl(0 0% 87%),
    300: hsl(0 0% 80%),
    400: hsl(0 0% 70%),
    500: hsl(0 0% 60%),
    600: hsl(0 0% 50%),
    700: hsl(0 0% 40%),
    800: hsl(0 0% 30%),
    900: hsl(0 0% 15%),
  )
);