@use 'breakpoints' as *;

// media queries
//  => min-width
@mixin mq($key) {

    $size: map-get($breakpoints, $key);

    @media only screen and (min-width: $size) {
        @content;
    }
}

//  => max-width
@mixin md($key) {

    $size: map-get($breakpoints, $key);

    @media only screen and (max-width: $size) {
        @content;
    }
}

// display flex
@mixin flex ($direction: column, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

// text gradient
@mixin text-gradient ($direction: right, $colorOne: var(--clr-primary-500), $colorTwo: var(--clr-primary-100)) {
    background: linear-gradient(to $direction,
            $colorOne,
            $colorTwo,
        );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

// @mixin min-height($height: 100%) {
//     min-height: $height
// }

// @mixin min-width($width: 100%) {
//     min-width: $width
// }

/* 
To use it : 
On top of the file -> @use '../abstracts' as *;
Where you need the mixin -> @include [nom de la mixin]
*/