/* ===Gap=== */
.gap-sm {
    gap: .5rem;
}

.gap-md {
    gap: 1rem;
}

.gap-lg {
    gap: 2rem;
}

/* ===Flex classes=== */

.flex {
    display: flex;
}

.flexCol {
    display: flex;
    flex-direction: column;
}

/*justify-content*/
.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-evenly {
    justify-content: space-evenly;
}

/*align-content*/

.align-center {
    align-items: center;
}

.align-start {
    align-items: flex-start;
}

.align-end {
    align-items: flex-end;
}

/*align-self*/
.self-center {
    align-self: center;
}

.self-end {
    align-self: flex-end;
}

.grow {
    flex-grow: 1;
}