/* +padding+ */
.padding-sm {
    padding: .5rem;
}

.padding-md {
    padding: 1rem;
}

.padding-lg {
    padding: 2rem;
}

/* +margin+ */
.margin-sm {
    margin: .5rem;
}

.margin-md {
    margin: 1rem;
}

.margin-lg {
    margin: 2rem;
}

.margin-r {
    margin-right: 2rem;
}