@use '../abstracts' as *;

.dark {
    background-color: var(--clr-primary-500);
    transition: ease-in-out 350ms;

    .text {
        color: var(--clr-neutral-100);
        border-color: var(--clr-neutral-100);
    }
}

.light {
    background-color: var(--clr-neutral-100);
    transition: ease-in-out 350ms;

    .text {
        color: var(--clr-primary-500);
        border-color: var(--clr-primary-500);
    }
}