/* +padding+ */
.paddingSmall {
    padding: .5rem;
}

.paddingNormal {
    padding: 1rem;
}

.paddingLarge {
    padding: 5rem;
}

.paddingTop {
    padding-top: 1.5rem;
}

.paddingBottom {
    padding-bottom: 3rem;
}


/* +margin+ */
.marginSmall {
    margin: .5rem;
}

.marginNormal {
    margin: 1rem;
}

.marginLarge {
    margin: 2rem;
}

.marginToptSmall {
    margin-top: 1.5rem;
}

.marginToptNormal {
    margin-top: 2rem;
}

.marginBotSmall {
    margin-bottom: 1.5rem;
}

.marginBotNormal {
    margin-bottom: 2rem;
}

.marginRightSmall {
    margin-right: 1rem;
    margin-left: auto;
}