/* Valeurs texte */
.retourLigne {
    word-break: break-word;
}

.justifyText {
    text-align: justify;
}

.centerText {
    text-align: center;
}

.textDecoNone {
    text-decoration: none;
}

.textDecoUnder {
    text-decoration: underline;
}