// Grid for general content pages

.container {
    display: grid;
    grid-template-columns: 0.3fr 2.4fr 0.3fr;
    grid-template-rows: 0.2fr 2.8fr;
    gap: 0px 0px;
    min-height: 100vh;
    grid-auto-flow: row;
    grid-template-areas:
        "header header header"
        ". main ."
        // "footer footer footer";
}

.header {
    grid-area: header;
}

.main {
    grid-area: main;
    min-height: 100%;
}

.footer {
    grid-area: footer;
    display: flex;
    justify-content: flex-end;
}