@use '../abstracts' as *;

.nav {
    list-style: none;
    height: 100%;
    @include flex(row, flex-end);

    .link {
        padding: .3rem;
        min-width: 85px;
        border: 1px solid #3A4753;

        font-weight: 600;

        display: inline-flex;
        justify-content: center;
        align-items: center;

        transition: 300ms;

        &:hover {
            background-color: #3A4753;
            color: #f5f5f5;
            border: 1px solid #f5f5f5;
        }
    }

    :visited {
        color: #3A4753;
    }

    img {
        max-height: 35px;
    }
}