@use '../abstracts' as *;

.home {
    @include flex(column, center, center);
    min-height: 100%;
    text-align: center;

    p {
        @include flex(row, flex-start, center);
        gap: .5rem;
        font-size: xx-large;
        font-weight: 900;
        padding-top: 2rem;
        color: hsl(209, 18%, 10%),
        ;

        // @include text-gradient(left) // background: linear-gradient(to left, #3A4753, #5C7792);
    }
}

.name-container {
    min-height: 100%;

    .svgName {
        min-width: 100%;
        @include flex();
        gap: 2rem;

        @include mq(lg) {
            @include flex(row);
        }

        @include md(sm) {
            display: none;
        }
    }

}