@use '../abstracts' as *;

.home {
    @include flex(column, center, center);
    min-height: 100%;

    .soon {
        text-align: center;
        padding: 50px;
        border: 3px solid;
        border-image-slice: 1;
        border-image-source: linear-gradient(100deg, var(--clr-primary-300), var(--clr-primary-100));


        translate: 0 -150%;

        min-height: 100%;
        // check sizes
        width: clamp(240px, 30%, 45%);
    }

    .present {
        min-width: 50%;
        translate: 0 -100%;
        text-align: center;
    }

    h1 {
        @include text-gradient(left) // background: linear-gradient(to left, #3A4753, #5C7792);
    }
}