@use '../abstracts' as *;

.home {
    @include flex(column, center, center);
    min-height: 100%;
    text-align: center;

    p {
        @include flex(row, flex-start, center);
        gap: .5rem;
        font-size: xx-large;
        font-weight: 900;
        padding-top: 2rem;

        @include text-gradient(left) // background: linear-gradient(to left, #3A4753, #5C7792);
    }
}

.name-container {
    min-height: 100%;

    @include flex();

    .svgName {
        min-width: 100%;
        @include flex(row);
        gap: 2rem
    }

}